/*pull*/
.w3-animate-top {
  position: relative;
  -webkit-animation: animatetop 2s;
  animation: animatetop 2s; }

@-webkit-keyframes animatetop {
  from {
    top: -800px;
    opacity: 1; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -800px;
    opacity: 1; }
  to {
    top: 0;
    opacity: 1; } }

.w3-animate-bottom {
  position: relative;
  -webkit-animation: animatebottom 2s;
  animation: animatebottom 2s; }

@-webkit-keyframes animatebottom {
  from {
    bottom: -800px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 1; } }

@keyframes animatebottom {
  from {
    bottom: -800px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 1; } }
