.w3-animate-top {
  position: relative;
  -webkit-animation: animatetop 0.4s;
  animation: animatetop 0.4s; }

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
