/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav {
  background-color: #222;
  border-bottom: 2px solid #ff9d00;
  position: fixed;
  top: 0;
  width: 100%;
  height: 73px;
  z-index: 99; }

.collapse {
  -webkit-animation: collapse .5s ease forwards;
  animation: collapse .5s ease forwards; }

.open {
  -webkit-animation: open .5s ease forwards;
  animation: open .5s ease forwards; }

@-webkit-keyframes collapse {
  from {
    opacity: 1;
    top: 0; }
  to {
    opacity: 0;
    top: -73px; } }

@keyframes collapse {
  from {
    opacity: 1;
    top: 0; }
  to {
    opacity: 0;
    top: -73px; } }

@-webkit-keyframes open {
  from {
    opacity: 0;
    top: -73px; }
  to {
    opacity: 1;
    top: 0; } }

@keyframes open {
  from {
    opacity: 0;
    top: -73px; }
  to {
    opacity: 1;
    top: 0; } }

/* text nav */
#logo {
  width: 10vw;
  height: auto;
  position: absolute;
  top: 1vh; }

.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid #eee;
  border-left: 0; }

.navbar-nav {
  margin: 7.5px -15px; }

.nav a {
  color: #9d9d9d;
  background-color: transparent;
  font-size: 18px;
  font-family: 'Audiowide', cursive;
  text-decoration: none; }

li {
  display: inline;
  padding: 0px 6px 0 3px;
  position: relative;
  top: 2vh; }

a:hover {
  color: #fff; }

/*body starts here*/
.background {
  background-repeat: repeat-x;
  background-size: contain; }

@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .parallax-window {
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5); }
  .tagline {
    position: relative;
    top: 20vh;
    font-size: 28px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #ff9d00;
    width: 20vw;
    margin-left: 4vw;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  #name {
    font-size: 8em;
    position: relative;
    top: 20vh;
    -webkit-text-decoration-style: double;
    text-decoration-style: double;
    color: #ff9d00;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4vw;
    padding: 4% 0% 3% 0%; }
  #head {
    position: absolute;
    top: 1vh;
    width: 100%;
    height: 110vh; }
  #me {
    width: 25vw;
    height: auto;
    position: absolute;
    left: 65vw;
    border-radius: 100%;
    top: 25vh;
    background-color: white;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  #skill-me {
    width: 13vw;
    height: auto;
    position: relative;
    left: 3.5vw;
    border-radius: 100%;
    top: 2vh;
    background-color: white;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  .mySlides {
    display: none; }
  .no-mobile {
    display: none; }
  #heading {
    display: none; }
  #banner {
    display: none; }
  .poster {
    widths: 100%;
    height: auto; }
  .container {
    top: -1vh;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0; }
  #history {
    position: absolute;
    top: 105vh;
    width: 100%;
    height: 135vh; }
  #title1 {
    width: 100%;
    height: 7vh;
    position: absolute;
    top: 100vh;
    z-index: 1;
    background-color: #c77c03; }
  #history-header {
    position: relative;
    font-family: 'Audiowide', cursive;
    font-size: 32px;
    top: 1vh;
    margin-left: 30vw;
    margin-right: 2vw; }
  #space {
    height: 15vh;
    width: auto;
    position: absolute;
    top: 5vh;
    left: 43.5vw;
    z-index: 2; }
  #timespine {
    height: 120vh;
    width: 0.7vw;
    position: absolute;
    top: 10vh;
    background: #6e9db7;
    left: 50vw; }
  #history1 {
    font-family: 'PT Mono', monospace;
    text-align: left;
    left: 10vw;
    position: absolute;
    top: 23vh;
    width: 33%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px; }
  #history2 {
    font-family: 'PT Mono', monospace;
    text-align: left;
    left: 58vw;
    position: absolute;
    top: 45vh;
    width: 33%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px; }
  #history3 {
    font-family: 'PT Mono', monospace;
    text-align: left;
    left: 10vw;
    position: absolute;
    top: 77vh;
    width: 33%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px; }
  #history4 {
    font-family: 'PT Mono', monospace;
    text-align: left;
    left: 58vw;
    position: absolute;
    top: 95vh;
    width: 33%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px; }
  /*skill columns*/
  #talents {
    top: 245vh;
    width: 100%;
    height: 130vh;
    position: absolute; }
  #skills-left {
    width: 20vw;
    height: 62vh;
    background: #c77c03;
    position: absolute;
    top: 50vh;
    left: 5vw;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  #skills-middle {
    width: 20vw;
    height: 62vh;
    background: #c77c03;
    position: absolute;
    top: 50vh;
    left: 40vw;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  #skills-right {
    width: 20vw;
    height: 62vh;
    background: #c77c03;
    position: absolute;
    top: 50vh;
    left: 74vw;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  #skills-me {
    font-size: 24px;
    font-family: 'Audiowide', cursive;
    text-align: center;
    position: relative;
    top: 5vh; }
  .Adobe {
    width: 10vw;
    height: auto;
    position: relative;
    left: 5vw;
    padding-bottom: 1vh; }
  #title2 {
    width: 100%;
    height: 7vh;
    position: absolute;
    top: 240vh;
    z-index: 1;
    background-color: #c77c03; }
  #skills-header {
    font-family: 'Audiowide', cursive;
    font-size: 32px;
    position: relative;
    top: 1vh;
    margin-left: 35vw;
    margin-right: 2vw; }
  #skills {
    position: relative;
    top: 17vh;
    font-family: 'PT Mono', monospace;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px; }
  #skills2 {
    position: relative;
    top: 20vh;
    font-family: 'PT Mono', monospace;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px; }
  .code {
    width: 10vw;
    height: auto;
    position: relative;
    right: -5vw;
    padding-bottom: 1vh; }
  #port {
    top: 380vh;
    width: 100%;
    height: 150vh;
    position: absolute; }
  #title3 {
    width: 100%;
    height: 7vh;
    position: absolute;
    top: 375vh;
    z-index: 1;
    background-color: #c77c03; }
  #port-header {
    font-family: 'Audiowide', cursive;
    font-size: 32px;
    position: relative;
    top: 1vh;
    margin-left: 34vw;
    margin-right: 2vw; }
  #video {
    position: relative;
    background-color: #000;
    border-radius: 0px 15px 0px 0px;
    left: 40vw;
    width: 45vw;
    height: 50vh;
    top: 15vh;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  #interest {
    position: relative;
    background-color: white;
    border-radius: 15px 0px 0px 15px;
    left: 10vw;
    width: 30vw;
    height: 80vh;
    top: -35vh;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  #hobby {
    position: relative;
    background-color: #c77c03;
    border-radius: 0px 0px 15px 0px;
    left: 40vw;
    width: 45vw;
    height: 30vh;
    font-family: 'Montserrat', sans-serif;
    top: -65vh;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  #hobby p {
    margin-left: 2vw;
    padding-top: 2vh; }
  .image-container {
    width: 8vw;
    height: 16vh;
    position: relative;
    background-color: white;
    margin: 3%;
    top: 13vh;
    display: inline-block; }
  .work {
    position: relative;
    width: 100%;
    height: auto; }
  .image-container2 {
    width: 8vw;
    height: 16vh;
    position: relative;
    background-color: white;
    margin: 3%;
    margin-right: 5%;
    top: 10vh;
    display: inline-block; }
  .work2 {
    position: relative;
    width: 100%;
    height: auto; }
  .likes {
    position: relative;
    width: 9vw;
    height: auto;
    display: inline-block;
    margin: 1%;
    padding-top: 4%;
    padding-left: 3vw;
    left: 1vw; }
  #speed {
    position: relative;
    width: 50vw;
    height: 17vh;
    left: -18vw; }
  #snow {
    top: 10vh;
    height: 11vh; }
  #rebel {
    top: 11vh;
    height: 11vh; }
  #fox {
    z-index: 1; }
  #footer {
    background-color: #0d3842;
    position: absolute;
    top: 510vh;
    height: 45vh;
    width: 100%; }
  #holder {
    width: 10vw;
    height: 5vh;
    position: absolute;
    display: inline-block;
    left: 5vw;
    top: 4vh; }
  .contact {
    width: 5vw;
    height: auto;
    display: inline-block; }
  .bottom-contact_container {
    margin: 0vw 4vw;
    padding: 0vw 2vw;
    color: white;
    position: absolute;
    width: 25vw;
    height: auto;
    left: 60vw;
    top: 4vh;
    background-color: #1e8ea6;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    font-family: 'Montserrat', sans-serif; }
  .bottom-contact_container {
    color: white; }
  .subfooter_container h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    padding: 5px 0px;
    left: 6vw; }
  .bottom-contact_container p {
    color: rgba(255, 255, 255, 0.8);
    margin: 0.5vw;
    font-family: 'Montserrat', sans-serif; }
  .bottom-contact_container .contact_name-input {
    padding: 0.3vw;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    margin: 0.5vw;
    width: 100%; }
  .bottom-contact_container p {
    color: rgba(255, 255, 255, 0.8);
    margin: 0.5vw; }
  .bottom-contact_container .contact_message-input {
    padding: 0.3vw;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    width: 100%;
    height: 13vh; }
  .bottom-contact_container .contact_submit-input {
    margin: 0.8vw 0vw;
    background-color: rgba(240, 240, 240, 0);
    border: 1px solid rgba(255, 255, 255, 0.52);
    color: rgba(255, 255, 255, 0.52);
    font-size: 0.8em;
    width: 40%;
    height: 5vh;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
    left: 6vw;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif; }
  .bottom-contact_container .contact_submit-input:hover {
    background-color: #f0f0f0;
    border: 1px solid #222;
    color: #222;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif; }
  #thoughts {
    color: white;
    width: 15vw;
    position: absolute;
    left: 30vw;
    top: 15vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; } }

/*mobile version*/
@media screen and (min-width: 180px) and (max-width: 1050px) {
  body {
    background-color: #3f7d9e; }
  .no-desktop {
    display: none; }
  #mobile-head {
    width: 80vw;
    height: 40vh;
    background-color: #6e9db7;
    position: relative;
    padding-bottom: 2vh;
    top: 5vh;
    margin: 2% 10%;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  #heading {
    font-size: 18px;
    top: 5vh;
    position: relative;
    left: 5vw;
    width: 70vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif; }
  #name {
    font-size: 3em;
    top: 6vh;
    position: relative;
    left: 5vw;
    width: 70vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: orange; }
  #job {
    font-size: 26px;
    top: 8vh;
    position: relative;
    left: 5vw;
    width: 70vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif; }
  .about-me {
    left: 15vw;
    margin-top: 6%;
    width: 70vw;
    height: 30vh;
    background-color: #6e9db7;
    position: relative;
    top: 5vh; }
  .textbox-mobile {
    margin: 4% 2%;
    position: relative; }
  #mobile-me {
    border-radius: 100%;
    background-color: white;
    height: 25vh;
    width: 25vh;
    position: relative;
    top: 4vh;
    left: 22vw;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  #sidenav {
    width: 2vw;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 1vw;
    top: 1;
    display: none; }
  #mobile-space {
    border-radius: 100%;
    background-color: white;
    height: 45vh;
    width: 45vh;
    position: relative;
    top: 6vh;
    left: 22vw;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  .container {
    display: none; }
  #logo {
    display: none; }
  #skills3 {
    margin: 0 40px 0 40px; }
  #logo-mobile {
    border-radius: 100%;
    background-color: white;
    height: 35vh;
    width: 35vh;
    position: relative;
    top: 7vh;
    left: 22vw;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  .Adobe {
    position: relative;
    width: 35vw;
    height: auto;
    margin-left: 2vw; }
  #adobe-mobile {
    width: 80vw;
    height: 50vh;
    background-color: #6e9db7;
    position: relative;
    top: 8vh;
    margin: 2% 10%;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  #html-mobile {
    width: 80vw;
    height: 50vh;
    background-color: #6e9db7;
    position: relative;
    top: 8vh;
    margin: 2% 10%;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  .code {
    position: relative;
    width: 35vw;
    height: auto;
    margin-left: 2vw; }
  #hobbies-mobile {
    width: 80vw;
    height: 60vh;
    background-color: #6e9db7;
    position: relative;
    top: 10vh;
    margin: 2% 10%;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  #hobby-mobile {
    width: 100%;
    position: relative;
    top: -1vh; }
  .hobbies-mobile {
    position: relative;
    width: 17vw;
    height: auto;
    margin-left: 2vw; }
  #port-mobile {
    width: 80vw;
    height: 90vh;
    background-color: #6e9db7;
    position: relative;
    top: 16vh;
    margin: 2% 10%;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.75); }
  #speed-mobile {
    position: relative;
    width: 60vw;
    height: auto;
    left: 10vw;
    top: 2vh; }
  #port-pic {
    width: 80vw;
    height: 60vh;
    position: relative;
    left: 9.5vw;
    top: 4vh; }
  .pic-port {
    width: 30vw;
    height: auto;
    position: relative; }
  /*footer*/
  .contact {
    width: 14vw;
    height: auto;
    display: inline-block; }
  #footer {
    border-top: orange solid 2px;
    background-color: #222;
    position: fixed;
    top: 90vh;
    height: 10vh;
    width: 100%; }
  #holder {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    left: 20vw;
    top: 0.5vh; } }
