#history{
    position: absolute;
    top: 105vh;
    width: 100%;
    height: 135vh;
}
#title1{
    width: 100%;
    height: 7vh;
    position: absolute;
    top: 100vh;
    z-index: 1;
    background-color: #c77c03;
}
#history-header{
    position: relative;
    font-family: 'Audiowide', cursive;
    font-size: 32px;
    top: 1vh;
    margin-left: 20vw;
    margin-right: 2vw;
}
#space{
    height: 15vh;
    width: auto;
    position: absolute;
    top: 5vh;
    left: 44vw;
    z-index: 2;
}
#timespine{
    height: 120vh;
    width: 0.7vw;
    position: absolute;
    top: 10vh;
    background: #6e9db7;
    left: 50vw;
}
#history1{
    font-family: 'PT Mono', monospace;
    text-align: left;
    left: 10vw;
    position: absolute;
    top: 23vh;
    width: 33%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
}
#history2{
    font-family: 'PT Mono', monospace;
    text-align: left;
    left: 58vw;
    position: absolute;
    top: 45vh;
    width: 33%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
}
#history3{
    font-family: 'PT Mono', monospace;
    text-align: left;
    left: 10vw;
    position: absolute;
    top: 77vh;
    width: 33%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
}
#history4{
    font-family: 'PT Mono', monospace;
    text-align: left;
    left: 58vw;
    position: absolute;
    top: 95vh;
    width: 33%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
}