body{
    background-color: #3f7d9e;
}
.no-desktop{
    display: none;
}
#mobile-head{
    width: 80vw;
    height: 40vh;
    background-color: #6e9db7;
    position: relative;
    padding-bottom: 2vh;
    top: 5vh;
    margin: 2% 10%;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
#heading{
    font-size: 18px;
    top: 5vh;
    position: relative;
    left: 5vw;
    width: 70vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#name{
    font-size: 3em;
    top: 6vh;
    position: relative;
    left: 5vw;
    width: 70vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: orange;
}
#job{
    font-size: 26px;
    top: 8vh;
    position: relative;
    left: 5vw;
    width: 70vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#HOM{
    background-color: orange;
    color: #000;
    width: 55vw;
    height: auto;
    position: relative;
    padding: 2%;
    left: 25vw;
    top: 20vh;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    
}
#Interests{
    background-color: orange;
    color: #000;
    width: 50vw;
    height: auto;
    position: relative;
    padding: 2%;
    left: 25vw;
    top: 12vh;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
#mobile-time{
    width: 1vw;
    height: 150vh;
    left: 8vw;
    top: 405vh;
    position: absolute;
    background-color: #a1c8de;
}
.about-me{
    left: 15vw;
    margin-top: 6%;
    width: 75vw;
    height: 55vh;
    background-color: #6e9db7;
    position: relative;
    top: 20vh;
    font-family: 'Montserrat', sans-serif;
}
.high1{
    width: 40%;
    height: auto;
    display: inline-block;
    position: relative;
    padding: 1%;
    left: 6vw;
}
#high3{
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    padding: 1%;
    left: 1vw;
}
.textbox-mobile{
    margin: 4% 2%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
#mobile-me{
    border-radius: 100%;
    background-color: white;
    width: 25vh;
    position: relative;
    top: 3vh;
    left: 20vw;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
#about-me-mobile{
    padding-bottom: 2vh;
    padding-top: 2vh;
}
#sidenav{
    width: 2vw;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 1vw;
    top: 1;
    display: none;
}
#mobile-space{
     border-radius: 100%;
    background-color: white;
    height: 45vh;
    width: 45vh;
    position: relative;
    top: 6vh;
    left: 22vw;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);    
}
.container{
    display: none;
}  
#logo{
    display: none;
}
#skills3{
    margin: 0 40px 0 40px;
}
#logo-mobile{
    border-radius: 100%;
    background-color: white;
    height: 35vh;
    width: 35vh;
    position: relative;
    top: 7vh;
    left: 22vw;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
#ME{
    background-color: orange;
    color: #000;
    width: 50vw;
    height: auto;
    position: relative;
    padding: 2%;
    left: 25vw;
    top: 9vh;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
.Adobe{
    position: relative;
    width: 35vw;
    height: auto;
    margin-left: 2vw;
}
#adobe-mobile{
    width: 80vw;
    height: 50vh;
    background-color: #6e9db7;
    position: relative;
    top: 10vh;
    margin: 2% 10%;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
#html-mobile{
    width: 80vw;
    height: 55vh;
    background-color: #6e9db7;
    position: relative;
    top: 10vh;
    margin: 2% 10%;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
.code{
    position: relative;
    width: 35vw;
    height: auto;
    margin-left: 2vw;
}
#hobbies-mobile{
    width: 80vw;
    height: 60vh;
    background-color: #6e9db7;
    position: relative;
    top: 12vh;
    margin: 2% 10%;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
#hobby-mobile{
   width: 100%;
    position: relative;
    top: -1vh;
}
.hobbies-mobile{
    position: relative;
    width: 17vw;
    height: auto;
    margin-left: 2vw;
}
#Portfolio-mobile{
    background-color: orange;
    color: #000;
    width: 70vw;
    height: auto;
    position: relative;
    padding: 2%;
    left: 15vw;
    top: 15vh;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
#port-mobile{
    width: 80vw;
    height: 90vh;
    background-color: #6e9db7;
    position: relative;
    top: 18vh;
    margin: 2% 10%;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
#speed-mobile{
    position: relative;
    width: 60vw;
    height: auto;
    left: 10vw;
    top: 2vh;
}
#port-pic{
    width: 80vw;
    height: 60vh;
    position: relative;
    left: 9.5vw;
    top: 4vh;
}
.pic-port{
    width: 30vw;
    height: auto;
    position: relative;
}
    /*footer*/
.contact{
    width: 14vw;
    height: auto;
    display: inline-block;
}
#footer{
    border-top: orange solid 2px;
    background-color: #222;
    position: absolute;
    top: 565vh;
    height: 10vh;
    width: 100%;
}
#holder{
    width: 100vw;
    height: auto;
    position: relative;
    display: inline-block;
    left: 20vw;
    top: 0.5vh;
}