@import "base.scss";
@import "nav.scss";
/*body starts here*/
.background{
    background-repeat: repeat-x;
    background-size: contain;
}
@media screen and (min-width:1025px) and (max-width:1920px){
@import "paralax.scss";
.tagline{
    position: relative;
    top: 20vh;
    font-size: 28px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #ff9d00;
    width: 20vw;
    margin-left: 4vw;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
#name{
    font-size: 8em;
    position: relative;
    top: 20vh;
    text-decoration-style: double;
    color: #ff9d00;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4vw;
    padding: 4% 0% 3% 0%;
}
#head{
    position: absolute;
    top: 1vh;
    width: 100%;
    height: 100vh;
}
#me{
    width: 25vw;
    height: auto;
    position: absolute;
    left: 65vw;
    border-radius: 100%;
    top: 25vh;
    background-color: white;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
#skill-me{
    width: 13vw;
    height: auto;
    position: relative;
    left: 3.5vw;
    border-radius: 100%;
    top: 2vh;
    background-color: white;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);    
}
.mySlides {
    display:none;
}
.no-mobile{
    display: none;
}
#heading{
    display: none;
}
#banner{
    display: none;    
}
.poster{
    widths: 100%;
    height: auto;
}
.container{
    top: -1vh;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
}
@import "history.scss";

/*skill columns*/
#talents{
    top: 245vh;
    width: 100%;
    height: 130vh;
    position: absolute;
}
#skills-left{
    width: 20vw;
    height: 62vh;
    background: #c77c03;
    position: absolute;
    top: 50vh;
    left: 5vw;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
#skills-middle{
    width: 20vw;
    height: 62vh;
    background: #c77c03;
    position: absolute;
    top: 50vh;
    left: 40vw;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
#skills-right{
    width: 20vw;
    height: 62vh;
    background: #c77c03;
    position: absolute;
    top: 50vh;
    left: 74vw;
    -webkit-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -7px rgba(0,0,0,0.75);
}
#skills-me{
    font-size: 24px;
    font-family: 'Audiowide', cursive;
    text-align: center;
    position: relative;
    top: 5vh;
}
.Adobe{
    width: 10vw;
    height: auto;
    position: relative;
    left: 5vw;
    padding-bottom: 1vh;
}
#title2{
    width: 100%;
    height: 7vh;
    position: absolute;
    top: 240vh;
    z-index: 1;
    background-color: #c77c03;
 }
#skills-header{
    font-family: 'Audiowide', cursive;
    font-size: 32px;
    position: relative;
    top: 1vh;
    margin-left: 28vw;
    margin-right: 2vw;
}
#skills{
    position: relative;
    top: 17vh;
    font-family: 'PT Mono', monospace;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
}
#skills2{
    position: relative;
    top: 20vh;
    font-family: 'PT Mono', monospace;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
    
}
.code{
    width: 10vw;
    height: auto;
    position: relative;
    right: -5vw;
    padding-bottom: 1vh;
}
@import 'portfolio.scss';
@import 'footer.scss';
}

/*mobile version*/
@media screen and (min-width:180px) and (max-width:1050px){
    @import "mobile.scss";
}